body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Helvetica,sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.7em;
    color: #bebebe;
    background-color: #161616;
    background-image: url('../images/bg.svg');
    background-size: 10%;
    /* repeat background*/
    background-repeat: repeat;

}

#mainheader {
    height: 3em;
    line-height: 3em;
    padding-bottom: 0.5em;
    background: #121416;
    color: #fff;
    box-shadow: -6px 0 white, 6px 0 white, 0 0 10px -2px black;
    text-shadow: 3px 2px 3px black;
}

#mainheader h1 { margin: 0 0 0 1em; float: left; }
.headerlinks { float: right; margin: 0 1em 0 0; }



.headercontainer { width: 100%; max-width: 1020px; margin: 0 auto;}
.container { 
    width: 96%;
    padding: 2%;
    margin: 1em auto 1em auto;
    max-width: 960px; 
    background-color: rgb(24,25,26);
    box-shadow: 0 0 6px 0 rgba(0,0,0,.35);
    border: 1px solid #28292a;
}

.center { 
    margin: 1em auto 1em auto;
    width: 80%; 
}

/*.newpost {
    
}
.postdisplay { 
}*/

#inlägg article {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}



h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { margin-bottom: 1em; }
h2 { font-size: 28px; margin-top: 8px; margin-bottom: 16px; } 
h3 { font-size: 20px; margin-top: 6px; margin-bottom: 6px;  } 
h4 { font-size: 16px; font-weight: 500; margin-top: 4px; margin-bottom: 4px; }

footer { clear: both; padding: 2em 0 0 0; font-size: 0.825em; color: #666; text-align: center; }

.btn {
    cursor: pointer;
    outline: 0;
    transition: all .1s linear;
    background: linear-gradient(180deg,#1a1a1b 0,#404044 1px,#2e2e30 2px,#222225);
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    color: #7f7f7f;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    padding: 6px 10px;
}
.btn:hover {
    background: linear-gradient(180deg,#1d1d20 0,#3c3c3e 1px,#2e2e30 2px,#212124);
    color: #bbb;
}

.btn:active {
    background: linear-gradient(180deg,#1d1d20 0,#3c3c3e 1px,#2e2e30 2px,#212124);
    box-shadow: inset 0 1px 4px rgba(0,0,0,.3);
    color: #bbb;
}

a, a:hover {
  text-decoration: none;
}
a:hover {
    color: #ff9060;
}
a{
    border: 0;
    color: #faf0f0;
    transition: all .1s linear;
}
a:active {
    color: #ff9060;
}



input[type="text"], input[type="password"] {
    width: max-content;

    padding: 5px;
    border-radius: .25rem;
    border: 1px solid #101113;
    background: #101113;
    box-shadow: inset 1px 2px 4px rgba(0,0,0,.3);
    color: #bbb;
    
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 5em;

    padding: 5px;
    border-radius: .25rem;
    border: 1px solid #101113;
    background: #101113;
    box-shadow: inset 1px 2px 4px rgba(0,0,0,.3);
    color: #bbb;
  }

/* Div with rounded corners and a dropshadow */
.postBox {
    border-radius: 4px;
    background-color: rgb(32, 34, 36);
    box-shadow: 0 0 10px -2px black;
    padding: 10px;
    margin-bottom: 10px;
  }
.post{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #232324;
    border-radius: 5px;
}

.post a.tag{
  color: #ff9060;
  font-size: 0.8em;
  margin: 0 0 0 1em;
  float: right; margin: 0 1em 0 0;
}

.postInfo p#postDate{
    font-size: 0.8em;
    float: right; margin: 0 1em 0 0;
}
.post h3{
    color: #e35151;
}





/* If form-control is-invalid is set  */
.form-control.is-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
.invalid-feedback {
    color: #dc3545;
}




.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    color: #ff9060;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #ff9060;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }

  .form-group {
    display: table-row;
    line-height: 2.2;
  }
  .form-group label {
      display: table-cell;
      /* border spacing to 20px */
      padding: 0 20px;
  }